{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en" class="coming-soon">
<head>
    <meta charset="utf-8">
    <title>Login - influicea - Connect brands with influencers</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="KaijuThemes">

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">     
    <link type="text/css" href="{% static 'assets/fonts/themify-icons/themify-icons.css' %}" rel="stylesheet"> 

    <!-- Bootstrap -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>

    <link type="text/css" href="{% static 'assets/css/register-login-style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link type="text/css" href="assets/css/ie8.css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->
    
    </head>

    <body class="animate__animated animate__fadeInDown">
        
        
    	<div class="container">

    		<div class="col-md-10 col-md-offset-1">
	    		
	    		<div class="register sign-in block-wrapper">


		    		<div class="row">

		    			<!-- <div class="col-md-12">

	    					<h4 class="title">Sign Up</h4>

	    				</div> -->

		    			<div class="col-md-5">

		    				<div class="col-md-12 text-center">

		    					<div class="register-social-block sign-in-social-block">

						    		<h5 class="border-bottom"><b>Sign In with Social Network</b></h5>

						    		<div class="social-network-block">

						    			<div class="row">

						    				<ul class="nav nav-pills">

						    					<li>
						    						
						    						<a href="#">
						    							
						    							<img src="{% static 'assets/images/fb-icon.png' %}"/>

						    						</a>

						    					</li>

						    					<li>
						    						
						    						<a href="#">
						    							
						    							<img src="{% static 'assets/images/twitter-icon.png' %}"/>

						    						</a>

						    					</li>

						    					<li>
						    						
						    						<a href="{% url 'social:begin' 'linkedin-oauth2' %}">
						    							
						    							<img src="{% static 'assets/images/linkedin-icon.png' %}"/>

						    						</a>

						    					</li>

						    				</ul>

						    				<ul class="nav nav-pills">

						    					<li>
						    						
						    						<a href="{% provider_login_url 'google' %}">
						    							
						    							<img src="{% static 'assets/images/google-plus-icon.png' %}"/>

						    						</a>

						    					</li>

						    					<li>
						    						
						    						<a href="#">
						    							
						    							<img src="{% static 'assets/images/instagram-icon.png' %}"/>

						    						</a>

						    					</li>

						    					<li>
						    						
						    						<a href="#">
						    							
						    							<img src="{% static 'assets/images/pinterest-icon.png' %}"/>

						    						</a>

						    					</li>
						    					
						    				</ul>

						    			</div>

						    		</div>

						    		<div class="col-md-12 col-md-offset-0">

						    			<div class="social-network-block-bottom">

						    				<h5>
						    					
						    					Don't have an account yet? <a href="{% url 'influencerregister' %}">Click Here</a>

						    				</h5>

						    			</div>

						    		</div>

						    	</div>

							</div>

		    			</div>

		    			<div class="col-md-7">

							<form class="sign-up-form sign-in-form" method="POST" action="/influencerlogin_auth/">
								
								{% csrf_token %}
								
								<div class="form-row">
								    
								    <div class="col-md-12 text-center">

								    	<h5 class="border-bottom"><b>Sign In with your Email and Password</b></h5>

									</div>

								</div>

								<div class="clearfix"></div>

								<div class="sign-in-inner-block">

									<div class="form-row">
									    
									    <div class="form-group col-md-12">
									      
									      <input type="email" class="form-control" id="sign-up-email" name="username" placeholder="Email Address" value="{{ email }}" required/>
									      
									    
									    </div>
									   
									</div>

									<div class="clearfix"></div>

									<div class="form-row">
									    
									    <div class="form-group col-md-12">
									      
									      <input type="password" class="form-control" id="sign-up-type-pwd" placeholder="Password" name="password" value="{{ password }}" required/>
									      
									    
									    </div>
									    
									</div>
									
									<div class="clearfix"></div>

									<div class="form-group">
									    
									    <div class="form-check col-md-6">
									      
									      <input class="form-check-input" type="checkbox" id="gridCheck"required/>
									      <label class="form-check-label" for="gridCheck">
									        Keep me logged-in</a>
									      </label>
									    
									    </div>

									    <div class="form-check col-md-6 text-right">
									      
									      <label class="form-check-label" for="forgotpwd">
									        
									        <a href="#">
									    		
									    		Forgot Password?

									    	</a>

									      </label>
									    
									    </div>

									</div>

									<div class="clearfix"></div>

									<div class="col-md-12 text-center">
								 		
								 		<button type="submit" class="btn btn-primary btn-block custom-btn">Sign In</button>

								 	</div>

							 	</div>

							</form>

			    		</div>

			    	</div>

			    	<div class="footer">

			    		<p>&copy; 2020. Influicea</p>

			    	</div>

		    	</div>

	    	</div>

    	</div>
    
    
    <!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script type="text/javascript" src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script> 							<!-- Load jQuery -->
<script type="text/javascript" src="{% static 'assets/js/jqueryui-1.10.3.min.js' %}"></script> 							<!-- Load jQueryUI -->
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script> 								<!-- Load Bootstrap -->
<script type="text/javascript" src="{% static 'assets/js/enquire.min.js' %}"></script> 									<!-- Load Enquire -->

<script type="text/javascript" src="{% static 'assets/plugins/velocityjs/velocity.min.js' %}"></script>					<!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="{% static 'assets/plugins/velocityjs/velocity.ui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/plugins/wijets/wijets.js' %}"></script>     						<!-- Wijet -->

<script type="text/javascript" src="{% static 'assets/plugins/codeprettifier/prettify.js' %}"></script> 				<!-- Code Prettifier  -->
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap-switch/bootstrap-switch.js' %}"></script> 		<!-- Swith/Toggle Button -->

<script type="text/javascript" src="{% static 'assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js' %}"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" src="{% static 'assets/plugins/iCheck/icheck.min.js' %}"></script>     					<!-- iCheck -->

<script type="text/javascript" src="{% static 'assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js' %}"></script> <!-- nano scroller -->

<script type="text/javascript" src="{% static 'assets/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/demo/demo.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/demo/demo-switcher.js' %}"></script>

<!-- End loading site level scripts -->
    <!-- Load page level scripts-->
    

    <!-- End loading page level scripts-->
    </body>
</html>